<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OpenLan</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                     @Html.ActionLink("OpenLan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })              
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Store", "Index", "Store")</li>
                        <li>@Html.ActionLink("Tournaments", "Index", "Tournament")</li>
                        <li>@Html.ActionLink("Clans", "Index", "Clan")</li>
                        <li>@Html.ActionLink("Participants", "Index", "Participant")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tournaments", "Index", "Tournament", new { area = "Admin" })</li>
                                <li>@Html.ActionLink("Products", "Index", "Product", new { area = "Admin" })</li>
                                <li>@Html.ActionLink("Clans", "Index", "Clan", new { area = "Admin" })</li>
                            </ul>
                        </li>
                        @await Component.InvokeAsync("CartSummary")
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OpenLan</p>
        </footer>
    </div>
    <script src="~/lib/jquery/js/jquery.js"></script> 
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
