﻿@using OpenLan.Web.Models
@model IEnumerable<Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var tournament in Model)
    {
        <div class="col-md-6">
            <img src="@tournament.PictureUrl" style="width: 210px; float: left; padding-right: 15px" />
            <a href="@tournament.Url"><span style="font-size: x-large; font-weight: bold; margin-left: -4px">@tournament.Name</span></a>
            @if (tournament.Tagline != null)
            {
                <br />@tournament.Tagline

            }
            @if (tournament.Teams != null && tournament.Teams.Count > 0)
            {
                <br /><span class="text-muted">@tournament.Teams.Count teams registered</span>
            }
            else
            {
                <br /><span class="text-muted" style="font-style: italic">No team currently registered in this tournament.</span>
    }
    <br />
    @if (ViewBag.IsClanOwner) {
        @Html.ActionLink("Register your clan", "RegisterClan", "TeamTournament", new { id = tournament.Id })
            }
</div>
    }
</div>